.tableview
{
 -fx-font-family: "Roboto";
-fx-background-color: #dddddd;
}

/*
.tableview:hover
{
 -fx-font-family: "Roboto";
-fx-background-color: #c5db5a;
}
*/

.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: #c5db5a;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #4c4b4b;
}

.table-cell{
		-fx-text-fill: black;
  -fx-font-weight: bold;

}

.table-view{
   -fx-background-color: transparent;
-fx-table-cell-border-color: transparent;
}

.table-row-cell:selected{
    -fx-background-color: #5fa8e8;
}